<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.bloco.circles">

    <application
        android:name=".CirclesApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/Theme.Transparent"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="appDeepLink">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "app.blockstack.org” -->
                <data
                    android:host="app.blockstack.org"
                    android:scheme="https" />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
        </activity>

        <activity android:name=".ui.homepage.HomepageActivity" />

        <activity
            android:name=".ui.auth.ConnectActivity"
            android:parentActivityName=".ui.homepage.HomepageActivity" />

        <activity
            android:name=".ui.auth.HowItWorksActivity"
            android:parentActivityName=".ui.auth.ConnectActivity" />

        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:parentActivityName=".ui.auth.ConnectActivity" />

        <activity
            android:name=".ui.auth.signup.ChooseUsernameActivity"
            android:parentActivityName=".ui.auth.ConnectActivity" />

        <activity
            android:name=".ui.auth.WelcomeActivity"
            android:parentActivityName=".ui.auth.login.LoginActivity" />

        <activity
            android:name=".ui.secret.SecretKeyActivity"
            android:parentActivityName=".ui.auth.ConnectActivity" />

        <activity
            android:name=".ui.account.AccountActivity"
            android:label="@string/profile"
            android:parentActivityName=".ui.homepage.HomepageActivity" />

        <activity android:name=".ui.auth.identities.IdentitiesActivity"/>

    </application>

</manifest>
