<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.stacks.app">

    <application
        android:name=".StacksApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.homepage.HomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.auth.ConnectActivity"
            android:parentActivityName=".ui.homepage.HomepageActivity" />

        <activity android:name=".ui.auth.HowItWorksActivity"
            android:parentActivityName=".ui.auth.ConnectActivity"/>

        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:parentActivityName=".ui.auth.ConnectActivity" />

        <activity
            android:name=".ui.auth.signup.ChooseUsernameActivity"
            android:parentActivityName=".ui.auth.ConnectActivity" />

        <activity android:name=".ui.auth.WelcomeActivity"
            android:parentActivityName=".ui.auth.login.LoginActivity"/>

        <activity
            android:name=".ui.secret.SecretKeyActivity"
            android:parentActivityName=".ui.auth.ConnectActivity" />

        <activity android:name=".ui.account.AccountActivity"
            android:label="@string/connect_settings"
            android:parentActivityName=".ui.homepage.HomepageActivity"/>

    </application>

</manifest>
